<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load staticfiles %}
    <title>Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>


    <!-- Styles Links-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+JP&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static  'linear.css' %}">
</head>
<body>
    <div class="container-fluid">
        <h1>House Features</h1>
    </div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
<form action="{% url 'features' %}" method="post">
 {% csrf_token %}
    <div class="form-group">
        <label for="postedby">Posted By</label>
        <select class="form-control" id="postedby" name="postedby">
            <option value="2">Owner</option>
            <option value="1">Dealer</option>
            <option value="0">Builder</option>
        </select>
    </div>
     <div class="form-group">
        <label for="underconstruction">Under-Construction</label>
        <select class="form-control" id="underconstruction" name="underconstruction">
            <option value="0">No</option>
            <option value="1">Yes</option>
        </select>
    </div>
    <div class="form-group">
        <label for="rera">RERA Approved</label>
        <select class="form-control" id="rera" name="rera">
            <option value="0">No</option>
            <option value="1">Yes</option>
        </select>
    </div>
    <div class="form-group">
        <label for="bhkno">BHK NO</label>
        <input type="number" class="form-control" name="bhkno" id="bhkno">
    </div>
     <div class="form-group">
        <label for="bhkorrk">BHK OR RK</label>
        <select class="form-control" id="bhkorrk" name="bhkorrk">
            <option value="0">BHK</option>
            <option value="1">RK</option>
        </select>
    </div>
    <div class="form-group">
        <label for="sqft">SQUARE FEET</label>
        <input type="number" step="0.01" class="form-control" name="sqft" id="sqft">
    </div>
    <div class="form-group">
        <label for="readytomove">Ready To Move</label>
        <select class="form-control" id="readytomove" name="readytomove">
            <option value="0">No</option>
            <option value="1">Yes</option>
        </select>
    </div>
    <div class="form-group">
        <label for="resale">Resale Value</label>
        <select class="form-control" id="resale" name="resale">
            <option value="0">No</option>
            <option value="1">Yes</option>
        </select>
    </div>
    <div class="form-group">
        <label for="city">City / District</label>
        <input type="text" name="city" id="city" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
</div>
</div>
</body>
</html>